.center-text {
  text-align: center;
}
#homeContainer {
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
.formContainer {
  display: flex;
  justify-content: center;
}
#snowMoon {
  max-width: 720px;
  max-height: 400px;
}
#photo{
  max-width: auto;
  max-height: 200px;
}